@font-face {
 font-family: "Teko-Regular";
 src: url("../fonts/Teko/Teko-Regular.ttf");
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden;

  font-family: "Teko-Regular";
  font-size: 1.4em;
  color: #2d3436;
}

/*****************************************************************************************/

#menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fcfcfc;
  margin: 0;
  z-index: 1000;
  height: 60px;

  list-style-type: none;
  margin: 0;
  padding: 0;

  display: table;
  font-size: 1.2em;
}

#menu li{
  text-decoration: none;
  width: 25%;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  transition: background-color 0.2s;
}

#menu li:hover{
  cursor: pointer;
  /*background-color: #d6dadd;*/
  background-color: #e6eaed;
}

#menu li.selected{
  /*background-color: #bdc3c7;*/
  background-color: #d6dadd;
}

/*****************************************************************************************/

#gl-screen{
  position: absolute;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  z-index: -1;
}

/*****************************************************************************************/

#content {
  padding-top: 60px;
  width: 100px;
  height: calc(100% - 60px);
  display: grid;
  /*grid-template-columns: 25% 25% 25% 25%;*/
  grid-template-rows: 100%;

  transition: transform 0.5s ease-in-out;
}

/*****************************************************************************************/

p{
  display: inline-block;

  position: relative;
}

.white-bg{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px 15px 50px 15px;
  padding: 5px 25px;
}

.page{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  display: grid;
  grid-gap: 10px;
}

.uparrow{
  text-align: center;
  content: url("../medias/uparrow.svg");
  height: 2.2em;
}

/*************************************************/



.switch {
  position: absolute;
  bottom: 50px;
  left: 50px;

  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}




.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
