body {
	margin-bottom: 40px;
}

h1 {
    margin-top: 0.5em;
}

.table td {
    border: none;
	text-align: center;
	vertical-align: middle;
}

.table td p {
	margin: 0;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control::-webkit-file-upload-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	tr {
		text-align: center;
	}

	tr:not(:last-child) {
		margin-bottom: 40px;
	}
	
	td { 
		position: relative;
		padding-left: 50%;

		display: inline-block;
	}

	.td-data {
		display: inline-block;
		width: 45%;
		min-width: 150px;
	}
}
